* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "muli", sans-serif;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.container {
    height: 300px;
    display: grid;
    justify-content: center;
    width: 444px;
    position: relative;
    border-radius: 12px;
    overflow: auto;
    background-color: rgb(245, 129, 47);
}

.container h1 {
    text-transform: capitalize;
    font-size: 44px;
    padding-top: 20px;
    font-weight: 700;
}

.container p {
    text-transform: capitalize;
    font-size: 25px;
    padding-top: 10px;
}

.container input[type="text"] {
    margin-top: 20px;
    width: 60%;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

li {
    margin-top: 20px;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: italic;
    margin-left: 2px;
}

ul li.checked {
    background: rgb(70, 214, 113);
    color: #fff;
    text-decoration: line-through;
    padding: 5px 16px 5px 16px;
    border-radius: 5px;
}

span {
    margin-left: 50px;
    cursor: pointer;
    position: relative;
    padding: 5px 16px 5px 16px;
}

span:hover {
    background-color: royalblue;
}

.container input[type="text"]:hover {
    box-shadow: 5px 3px 2px rgb(48, 43, 43);
}

.container button {
    background-color: royalblue;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    border: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}